.navigation {
  display: flex;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(155, 200, 255, 0.9) 0%,
    rgba(255, 200, 155, 0.9) 100%
  );

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.link {
  display: flex;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;

  color: var(--dark-color);
  text-decoration: none;
  outline: none;
  border-bottom: solid 3px transparent;

  transition: color 250ms linear, border-bottom 250ms linear;
}

.link:hover,
.link:focus {
  text-decoration: none;
  outline: none;
  color: var(--accent-color);
  border-bottom: solid 3px var(--accent-color);

  transition: color 250ms linear, border-bottom 250ms linear;
}

.activLink {
  outline: none;
  color: var(--accent-color);

  border-bottom: solid 3px var(--accent-color);
}
