.navigation {
  display: flex;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgb(155, 200, 255) 0%,
    rgb(255, 200, 155) 100%
  );

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.link {
  display: flex;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05;

  color: var(--dark-color);
  text-decoration: none;
  outline: none;

  transition: color 250ms ease;
}

.link:hover,
.link:focus {
  text-decoration: none;
  color: var(--accent-color);
  transition: color 250ms ease;
}

.activLink {
  outline: none;
  color: var(--accent-color);
}
