.treatmentv {
  table-layout: fixed;
  width: 100%;
  /* border-collapse: collapse; */
  border: 1px solid var(--dark-color);
}

.title {
  text-align: center;
  color: var(--dark-color);
}

.text {
  margin: 0;
  font-size: 12px;
  color: var(--accent-color);
}

.head {
  color: var(--light-color);
  background-color: var(--dark-color);
}

th,
td {
  padding: 4px;
}

td {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  th,
  td {
    padding: 6px;
  }
}

thead th:nth-child(1) {
  width: 80%;
}
thead th:nth-child(2) {
  width: 20%;
}

tbody tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

tbody tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}
