.thumb {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgb(155, 200, 255);
  background: linear-gradient(
    0deg,
    rgb(155, 200, 255) 0%,
    rgb(255, 200, 155) 100%
  );
}

.iconTooth {
  display: flex;
  width: 24px;
  height: 24px;
  fill: var(--light-color);
}

.icon {
  font-size: 24px;
  fill: var(--dark-color);

  transition: fill 250ms ease;
}

.icon:hover,
.icon:focus {
  fill: var(--accent-color);
  transition: fill 250ms ease;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  padding-top: 60px;
  width: 100%;
  height: 100%;
  background: rgb(155, 200, 255);
  background: linear-gradient(
    0deg,
    rgb(155, 200, 255) 0%,
    rgb(255, 200, 155) 100%
  );
}

.link {
  display: block;
  padding: 10px 30px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;

  color: var(--dark-color);
  text-decoration: none;
  outline: none;

  transition: color 250ms ease;
}

.link:hover,
.link:focus {
  text-decoration: none;
  color: var(--accent-color);
  transition: color 250ms ease;
}

.activLink {
  outline: none;
  color: var(--accent-color);
}

.iconLink {
  outline: none;
  padding: 10px;
}
