.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .iconBox {
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .iconBox {
    flex-direction: row;
    align-self: flex-start;
  }
}

.iconLink {
  display: inline-flex;
  outline: none;
}

@media screen and (min-width: 769px) {
  .iconLink {
    padding: 0px 15px;
  }
}

.icon {
  display: flex;
  padding: 8px;
  font-size: 44px;
  border-radius: 50%;
  fill: var(--primary-color);
  background-color: var(--secondary-dark-color);

  transition: fill 250ms ease, background-color 250ms ease;
}

@media screen and (min-width: 768px) {
  .icon {
    padding: 6px;
    font-size: 40px;
  }
}

.iconLink:hover .icon,
.iconLink:focus .icon {
  fill: var(--accent-color);
  background-color: var(--light-color);

  transition: fill 250ms ease background-color 250ms ease;
}
