.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .iconBox {
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .iconBox {
    flex-direction: row;
    align-self: flex-start;
  }
}

.iconLink {
  display: inline-flex;
  padding: 10px;
  outline: none;
}

.icon {
  display: flex;
  padding: 5px;
  font-size: 44px;
  border: 2px solid var(--light-color);
  border-radius: 50%;
  fill: var(--primary-color);
  background-color: transparent;

  transition: fill 250ms linear, border 250ms linear,
    background-color 250ms linear;
}

.iconLink:hover .icon,
.iconLink:focus .icon {
  fill: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-color: var(--light-color);

  transition: fill 250ms linear, border 250ms linear,
    background-color 250ms linear;
}
