.thumb {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  border: 6px solid rgb(150, 230, 150);
  background-color: rgb(60, 160, 60);

  transition: border 250ms linear;
}

.thumb:hover,
.thumb:focus {
  border: 6px solid transparent;

  transition: border 250ms linear;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  outline: none;
}

.icon {
  display: block;
  font-size: 20px;
  rotate: 270deg;
  fill: var(--light-color);

  animation: phone 1s infinite linear;
}

@keyframes phone {
  0% {
    /* transform: rotate(0deg); */
    transform: scale(1);
  }

  50% {
    /* transform: rotate(45deg); */
    transform: scale(1.2);
  }

  100% {
    /* transform: rotate(0deg); */
    transform: scale(1);
  }
}
