.thumb {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .thumb {
    margin-bottom: 0;
  }
}

.text {
  color: var(--light-color);
}

.time {
  display: inline-flex;
  margin-left: 10px;
  color: var(--light-color);
}

i {
  margin-left: 10px;
  color: var(--accent-color);
}
