.wrapper {
  display: block;
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.list {
  list-style: none;
  border-radius: 6px;
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .list {
    box-shadow: 6px 6px 12px -3px rgba(45, 46, 47, 0.7);
    -webkit-box-shadow: 6px 6px 12px -3px rgba(45, 46, 47, 0.7);
    -moz-box-shadow: 6px 6px 12px -3px rgba(45, 46, 47, 0.7);
  }
}

@media screen and (min-width: 768px) {
  .list {
    margin: 30px 30px;
    width: calc((100% - 120px) / 2);
  }
}

@media screen and (min-width: 769px) {
  .list {
    margin: 30px 30px;
    width: calc((100% - 180px) / 3);
  }
}

.thumb {
  display: block;
}

.photo {
  display: block;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.content {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px 20px;
  overflow: hidden;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-color);
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-color);
}

.descr {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--dark-color);
}
