.thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--primary-color);
}

.iconTooth {
  display: flex;
  width: 24px;
  height: 24px;
  margin: 10px;
  font-size: 24px;
  fill: var(--light-color);
}

.icon {
  font-size: 24px;
  fill: var(--dark-color);
}

.icon:hover,
.icon:focus {
  fill: var(--accent-color);
  transition: fill 250ms linear;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  width: 80%;
  height: 100vh;
  background: rgb(155, 200, 255);
  background: linear-gradient(
    0deg,
    rgb(155, 200, 255) 0%,
    rgb(255, 200, 155) 100%
  );
}

.link {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 00;
  color: var(--dark-color);
  text-decoration: none;
  outline: none;

  transition: color 250ms linear;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  transition: color 250ms linear;
}

.activLink {
  outline: none;
  color: var(--accent-color);
}

.iconLink {
  outline: none;
}
