.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
}

.list {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
}

.listItem {
  list-style: none;
  color: var(--accent-color);
}

.link {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--dark-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.activLink {
  color: var(--accent-color);
}
