body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: rgb(55, 155, 255);
  --accent-color: rgb(254, 97, 2);
  --light-color: rgb(250, 250, 240);
  --dark-color: rgb(45, 46, 47);
  --secondary-dark-color: rgb(70, 71, 72);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
