.thumb {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

b {
  color: var(--dark-color);
  margin-bottom: 16px;
}

.text {
  display: inline-flex;
  margin: 0;
  font-size: 16px;
  color: var(--dark-color);
}

.box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.link {
  display: inline-flex;
  color: var(--primary-color);
  text-decoration: none;
  outline: none;

  transition: color 250ms linear;
}

.link:hover,
.link:focus {
  color: var(--accent-color);

  transition: color 250ms linear;
}

.iconBox {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 30px;
}

.iconLink {
  display: inline-flex;
  outline: none;
}

.icon {
  display: flex;
  padding: 5px;
  font-size: 44px;
  border: 2px solid var(--dark-color);
  border-radius: 50%;
  fill: var(--dark-color);
  background: rgb(155, 200, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 200, 155, 1) 0%,
    rgba(155, 200, 255, 1) 100%
  );

  transition: fill 250ms linear, border 250ms linear;
}

.iconLink:hover .icon,
.iconLink:focus .icon {
  fill: var(--accent-color);
  background: rgb(155, 200, 255);
  background: linear-gradient(
    0deg,
    rgba(155, 200, 255, 1) 0%,
    rgba(255, 200, 155, 1) 100%
  );

  transition: fill 250ms linear;
}
