.thumb {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .thumb {
    margin-bottom: 0;
  }
}

b {
  display: block;
  color: var(--light-color);
  margin-bottom: 16px;
}

.text {
  display: inline-flex;
  margin: 0;
  color: var(--light-color);
}

.box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .box:last-child {
    margin-bottom: 0;
  }
}

.link {
  display: flex;
  color: var(--primary-color);
  text-decoration: none;
  outline: none;

  transition: color 250ms ease;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  text-decoration: underline;

  transition: color 250ms ease;
}

.icon {
  display: flex;
  margin-right: 10px;
  fill: var(--accent-color);
}
